Non-Functional:
	- All output and input shall be through the console
	- At least 3 classes with one field and one method
	**Optional**
		-The default bankroll can be any value
		-The defualt bet can be any valid value (between 1/5 and 1/20 the player's starting bankroll)
Functional:
	- When the game begins, the game will print the dealre's visible card, the player's two intial cards, and their total value
	- Player with be prompted to (h)it or (s)tay
	- When the card is dealt, the player or dealer's score will be updated
	- Ace's change value depending on if the player or dealer will bust
	- After a player stays, the dealer will hit until they have at least 17 points
	- Once the dealer stays or busts, the game will evaluate and print who won and quit. 
Feature:
	**Optional**
		- When a game is complete, return to the main menu instead of quitting
		- When the player chooses quit, exit the application
		- use the same deck between games instead of shuffling between each game
			- If a game starts with less than 30 cards, add the discard pile back and shuffle
		